@model CentACS.Admin.Models.TranslationDetailViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="page-header">
        <h2>@ViewBag.Title </h2>
    </div>

    <!-- Listing of Product Specific Tables-->
    <div class="row">
        <div class="col-md-12">
            

            @Model.
            
        </div>
    </div>

</div>
